<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="module" src="script.js"></script>
</head>

<body>
    <div id="app" class="container">
        <header class="header">
            <div class="logo-group">
                <h1>Svenssons Hantverk AB</h1>
                <img src="resources/hammericon.png" alt="Hammare" class="header-icon">
            </div>

            <div class="user-group">
                <img src="resources/profilepic.png" alt="Profilbild" class="user-icon">
                <span class="user-name">Chef</span>
                <img src="resources/settingsicon.png" alt="Inställningar" class="settings-icon">
            </div>
        </header>

        <div class="panel">
            <div class="rubrik">
                <h2>Bemanning</h2>
                <p>Översikt över alla hantverkare kommande 4 veckor.</p>
            </div>
            <div class="drop-downs">
                <div class="search-wrapper">
                    <input type="text" class="search" placeholder="🔍 Sök hantverkare...">
                </div>
                <div class="profession">
                    <select class="dropdown">
                        <option>Profession:</option>
                        <option>All</option>
                        <option>Salesperson</option>
                        <option>Economist</option>
                        <option>Painter</option>
                        <option>Carpenter/Painter</option>
                        <option>Carpenter</option>
                        <option>Carpenter/Electrician</option>
                        <option>Electrician</option>
                        <option>Plumber</option>
                        <option>Plumber/Mason</option>
                        <option>Mason</option>
                    </select>
                </div>

                <div class="status">
                    <select class="dropdown">
                        <option>Status: </option>
                        <option>All</option>
                        <option>Available</option>
                        <option>Booked 100%</option>
                        <option>Booked 50%</option>
                        <option>Absence</option>
                    </select>
                </div>
                <div class="week">
                    <select class="dropdown">
                        <option>Week: </option>
                        <option>All</option>
                        <option>v20-23</option>
                        <option>v24-27</option>
                        <option>v28-31</option>
                        <option>v32-35</option>
                    </select>
                </div>
                <section class=""></section>
            </div>

            <div class="stats-container">
                <div class="stat-card">
                    <span class="label">Lediga</span>
                    <strong>8 personer</strong>
                </div>
                <div class="stat-card">
                    <span class="label">Delvis bokade</span>
                    <strong>6 personer</strong>
                </div>
                <div class="stat-card">
                    <span class="label">Fullt bokade</span>
                    <strong>10 personer</strong>
                </div>
                <div class="stat-card">
                    <span class="label">Frånvarande</span>
                    <strong>4 personer</strong>
                </div>
            </div>
        </div>

    

<!--TECKENFÖRKLARING-->
                <div class="legend">
                    <span>Teckenförklaring:</span>
                    <div class="legend-item">
                    <div class="box available"></div>
                    <span>Tillgänglig</span>
                </div>

                <div class="legend-item">
                    <div class="box booked"></div>
                    <span>Bokad 100%</span>
                </div>

                <div class="legend-item">
                    <div class="box half"></div>
                    <span>Bokad 50%</span>
                </div>

                <div class="box double">
            <div class="half top"></div>
            <div class="half bottom"></div>
        </div>
                 <div class="legend-item">
                    <div class="box double"></div>
                    <span>Bokad 2X50%</span>
                </div>

                <div class="legend-item">
                    <div class="box absence">X</div>
                    <span>Frånvaro</span>
                </div>
                </div>

        <div class="calendar-view">
            <div class="week-headers">
                <div class="header-spacer"></div>
                <div class="week-labels">
                    <span>Vecka 20</span>
                    <span>Vecka 21</span>
                    <span>Vecka 22</span>
                    <span>Vecka 23</span>
                </div>
            </div>

            <div class="profession-card">
                <worker-row v-for="w in officeStaff" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in painters" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in handyPaint" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in handyMen" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in handyElec" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in electritian" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in sewer" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in sewerTrump" :key="w.name" :worker="w" />
            </div>

            <div class="profession-card">
                <worker-row v-for="w in trump" :key="w.name" :worker="w" />
            </div>

        </div>
    </div>

    <script type="module" src="script.js"></script>
</body>