body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Svenssons Hantverk rubrik */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    height: 68px;
}

.header h1 {
    font-family: 'Girassol', serif;
    font-size: 30px;
    margin: 0;
    margin-left: 15px;
}

/* Ikon för användaren vid header */
.user-name {
    font-family: sans-serif;
    font-weight: bold;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


.header-icon {
    height: 40px;
    width: auto;
}

.user-group {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    margin-left: auto;
    margin-right: 40px;
    width: 250px; 
}

.user-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.settings-icon {
    height: 50px;
    width: 50px;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.settings-icon:hover {
    transform: rotate(45deg);
}

/* Panel för filter drop down etc */
.panel {
    width: 100%;
    margin: 25px 0;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.panel h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.panel p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.panel h2,
.panel p {
    margin: 0;
}

.filter-card select,
.filter-card input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

.filter-card {
    font-family: 'Poppins', sans-serif;
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop-downs .filter-card {
    height: 30px;
}

.drop-downs .filter-card:nth-child(1) {
    width: 410px;
}

.drop-downs .filter-card:nth-child(2) {
    width: 220px;
}

.drop-downs .filter-card:nth-child(3) {
    width: 263px;
}

.drop-downs .filter-card:nth-child(4) {
    width: 330px;
}

.drop-downs {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: stretch;
}

/* STATISTIK-KORT TOP ROW KORTEN */

.stats-container {
    display: flex;
    gap: 70px;
    margin-top: 20px;
    align-items: stretch;
}

.stat-card {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-spacer {
    width: 380px;
    flex-shrink: 0;
}

.schedule-grid {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 10px;
}

.name {
    flex: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-weight: bold;
}

.week-headers {
    display: flex;
    padding: 10px 25px;
    margin-top: 20px;
}


.week-labels {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.week-labels span {
    width: 170px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

.week-group {
    display: flex;
    gap: 0px;
    width: 170px;
    justify-content: center;
}

/* SCHEMA-BOXARNA */
.box {
    width: 30px;
    height: 16px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.booked {
    background-color: #8B2323;
    border: 1px solid black;
}


.available {
    border: 3px solid #2ecc71;
}

.half {
    background: repeating-linear-gradient(130deg, #f39c12, #f39c12 4px, #fceabb 4px, #fceabb 8px);
    border: 1px solid #e67e22;
    border: 1px solid black;
}

.box.double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    padding: 0px
}

.half {
    flex: 1;
    height: 6px;
}

.top {
    background: repeating-linear-gradient(130deg, #f39c12, #f39c12 4px, #fceabb 4px, #fceabb 8px);
    border-bottom: 1px solid black;
}

.bottom {
    background: repeating-linear-gradient(130deg, #f39c12, #f39c12 4px, #fceabb 4px, #fceabb 8px);
}


.absence {
    background-color: white;
    border: 1px solid black;
}

/* LAYOUT FÖR RADER  */
.profession-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 40px 25px 40px;
}

.worker-identity {
    display: flex;
    width: 350px;
    flex-shrink: 0;
}

.worker-identity .name {
    flex: 1;
}

.worker-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 25px;
    background-color: white;
    border-bottom: 4px solid #eee;
    justify-content: space-between;
}


.worker-row:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.legend {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 40px 20px 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.legend>span {
    font-weight: bold;
}

.legend .box {
    margin-left: 20px;
    width: 50px;
    height: 25px;
}

.legend-item {
    display: flex;
    align-items: flex;
    gap: 10px;
}